<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Životinja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Lista zivotinja</h1>
    <table class="table table-striped">
        <form th:action="@{/listZivotinja}" method="get">
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="Traži Zivotinju">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="submit">Traži</button>
                </div>
            </div>
        </form>
        <a href="/zivotinja" class="btn btn-primary" style="float: right; margin-bottom: 10px;">DODAJ ŽIVOTINJU </a>
        <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Identifikator </th>
            <th>Skup životinja</th>
            <th>Broj životinja</th>
            <th>Nastamba</th>
            <th>Postojanje?</th>
            <th>Vrsta  </th>
            <th>Porijeklo</th>
            <th>Datum dolaska</th>
            <th>Update</th>
            <th>Delete</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="zivotinja : ${zivotinje}">
            <td th:text="${zivotinja.id}"></td>
            <td th:text="${zivotinja.naziv}"></td>
            <td th:text="${zivotinja.identifikator}"></td>
            <td th:text="${zivotinja.skupZivotinja}"></td>
            <td th:text="${zivotinja.brojZivotinja}"></td>
            <td th:text="${zivotinja.nastanba.naziv}"></td>
            <td th:text="${zivotinja.postojanjeZivotinje}"></td>
            <td th:text="${zivotinja.vrstaZivotinje.getImeHrv()}"></td>
            <td th:text="${zivotinja.porijekloZivotinje.naziv}"></td>
            <td th:text="${zivotinja.dolazakZivotinje}"></td>
            <td>
                <a th:href="@{/listZivotinja/edit/{id}(id=${zivotinja.id})}" class="btn btn-warning btn-sm">Update</a>
            </td>
            <td>
                <a th:href="@{/listZivotinja/delete/{id}(id=${zivotinja.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Jeste li sigurni da želite izbrisati?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>