<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EDIT RADNIK</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Uredi radnika</h1>
    <form th:action="@{/listRadnik/edit/{id}(id=${radnik.id})}" th:object="${radnik}" method="post">
        <div class="form-group">
            <label for="ime">Ime:</label>
            <input type="text" id="ime" th:field="*{radnik.ime}" class="form-control" />
        </div>
        <div class="form-group">
            <label for="prezime">Prezime::</label>
            <input type="text" id="prezime" th:field="*{radnik.prezime}" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="kvalifikacija">Kvalifikacija:</label>
            <select id="kvalifikacija" th:field="*{kvalifikacija.id}" class="form-control">
                <option value="">Odaberi kvalifikaciju</option>
                <option th:each="kvalifikacija : ${kvalifikacijaList}" th:value="${kvalifikacija.id}" th:text="${kvalifikacija.naziv}"></option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Spremi</button>
    </form>
</div>
</body>
</html>
