<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Porijekla Životinja</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Lista Porijekla Životinja</h1>
    <table class="table table-striped">
        <a href="/porijekloZivotinje" class="btn btn-primary" style="float: right; margin-bottom: 10px;">DODAJ PORIJEKLO</a>
        <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="porijeklo : ${porijekloZivotinje}">
            <td th:text="${porijeklo.id}">ID</td>
            <td th:text="${porijeklo.naziv}">Naziv</td>

            <td>
                <a th:href="@{/listPorijekloZivotinje/delete/{id}(id=${porijeklo.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Jeste li sigurni da želite izbrisati?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
