<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista Oblika Nastanbe</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="my-4">Lista Oblika Nastanbe</h1>
    <table class="table table-striped">
        <a href="/oblikNastanbe" class="btn btn-primary" style="float: right; margin-top: 10px;">DODAJ NOVI OBLIK NASTAMBE</a>
        <thead>
        <tr>
            <th>ID</th>
            <th>Naziv</th>
            <th>Akcije</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="oblikNastanbe : ${oblikNastanbe}">
            <td th:text="${oblikNastanbe.id}">ID</td>
            <td th:text="${oblikNastanbe.naziv}">Naziv</td>
            <td>
                <a th:href="@{/listOblikNastanbe/delete/{id}(id=${oblikNastanbe.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Jeste li sigurni da želite izbrisati?');">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
